{% extends "main.html" %} {% block content %}

<h1>Projects file</h1>
<table style="border: 1px" frame="hsides" rules="rows">
  <tr style="border: 1px">
    <th>Project</th>
    <th>Positive Votes</th>
    <th>Votes</th>
    <th>View</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for project in projects %}
  <tr>
    <!-- <li>
    <a href="/project/{{ project.id }}">{{ project.title }}</a>
    ----{{ project.description }}
  </li> -->

    <!-- <li>
    <a href="{% url 'project' project.id %}">{{ project.title }}</a>
    ----{{ project.description }}
  </li> -->

    <td>{{project.title}}</td>
    <td>{{project.vote_ratio}}</td>
    <td>{{project.vote_total}}</td>
    <th><a href="{% url 'project' project.id %}">View</a></th>
    <th><a href="{% url 'update-project' project.id %}">Edit</a></th>
    <th><a href="{% url 'delete-project' project.id %}">Delete</a></th>
  </tr>
  {% endfor %}
</table>
{% endblock content %} {% include 'footer.html' %}
